@import "../css/colors.scss";

.quote {
  color: $cello;
  text-align: center;

  .fa-quote-left {
    color: rgba(28, 61, 92, 0.85);
    display: inline-block;
    font-size: 10px;
    vertical-align: super;
  }

  .quote-content {
    display: inline-block;
    font-style: italic;
    width: 100%;
    font-family: "Bree Serif", serif;
  }
}
