@import '../css/colors.scss';

.skills {
    .title {
        color: $cello;
        font-size: 20px;

        .skills-bubble {
            display: inline-block;
            background-color: $cello;
            color: white;
            padding: 10px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 13px;
        }
    }

    .content {
        .skill-name {
            padding: 0 8px;
        }
        .exp-bar {
            width: 140px;
            margin: 5px 0 5px 5px;;
            background: black;
            height: 3px;
        }
    }
}