/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

.main {
  font-family: 'Open Sans';
  display: grid;
  margin: 25px;
  grid-gap: 25px 0;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto); }
  .main .profile-pic {
    grid-row: 1;
    grid-column: 1; }
  .main .heading {
    grid-row: 1;
    grid-column: 2 / 3;
    min-width: 270px; }
  .main .skills {
    grid-row: 2;
    grid-column: 2; }
  .main .tools {
    grid-row: 2;
    grid-column: 2; }
  .main .experience {
    grid-row: 2 / 3;
    grid-column: 1;
    display: flex;
    min-width: 560px; }
  .main .projects {
    grid-row: 4;
    grid-column: 1; }
  .main .contact {
    grid-row: 4;
    grid-column: 2; }
body {
  box-sizing: initial; }

.profile-pic {
  border-right: 5px solid #40dde0; }
  .profile-pic .frame {
    height: 100px;
    border-radius: 50%;
    border: 5px solid #40dde0;
    width: 100px;
    float: right;
    margin-right: 15px;
    background-image: url("http://gdurl.com/xLcI");
    background-size: 100%; }
  .profile-pic .frame-inner {
    border-radius: 50%;
    background-color: white;
    height: 90px;
    width: 90px;
    position: relative;
    top: 5px;
    left: 5px; }

.heading {
  font-family: 'Open Sans Bold';
  text-align: left;
  margin-top: 20px;
  display: block; }
  .heading .candidate-name {
    display: inline-block;
    color: #1c3d5c;
    font-size: 30px;
    margin-left: 15px; }
    .heading .candidate-name .first-name {
      font-family: 'Open Sans Bold';
      margin-right: -10px; }
    .heading .candidate-name .last-name {
      font-family: 'Open Sans'; }
  .heading .designation {
    display: block;
    color: #40dde0;
    font-size: 21.5px;
    margin: -12px 0 0 15px; }
    .heading .designation .job-title .first {
      font-family: 'Open Sans';
      margin-right: -8px; }
body {
  box-sizing: initial; }

.skills .title {
  color: red; }

.skills .content .skill-list {
  padding-left: 20px;
  font-family: 'Acme';
  font-size: 12px;
  color: #40dde0; }
  .skills .content .skill-list .skill-item {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 0px 0px 10px 10px;
    box-shadow: 0px 0px 1px 2px #40dde0;
    line-height: 20px; }
body {
  box-sizing: initial; }

.experience .timeline-wrapper .icon-wrapper {
  display: inline-block;
  background: #1c3d5c;
  padding: 10px;
  border-radius: 50%; }

.experience .timeline-wrapper .timeline {
  height: 100%;
  width: 0px;
  margin-left: 28px;
  border: 2px dashed #1c3d5c;
  border-radius: 5px; }

.experience .experience-content {
  color: #1c3d5c; }
  .experience .experience-content .title {
    font-family: 'Open Sans';
    color: #1c3d5c;
    position: relative;
    top: -5px;
    left: 5px;
    font-size: 20px; }
    .experience .experience-content .title .exp-bubble {
      display: inline-block;
      background-color: #1c3d5c;
      padding: 10px;
      border-radius: 50%;
      right: 0;
      margin-left: -37px;
      margin-right: 12px;
      vertical-align: middle;
      width: 40px; }
  .experience .experience-content .job-container {
    margin-top: 20px;
    margin-left: 46px; }
    .experience .experience-content .job-container .job-company {
      font-size: 16px;
      text-transform: uppercase; }
      .experience .experience-content .job-container .job-company .timeline-dot {
        height: 10px;
        display: inline-block;
        width: 10px;
        border-radius: 50%;
        background-color: #98edee;
        border: 2px solid #1c3d5c;
        margin-left: -55px;
        margin-right: 36px; }
      .experience .experience-content .job-container .job-company .duration {
        text-transform: initial;
        font-size: 12px;
        background-color: #aef1f2;
        padding: 2px 5px;
        border-radius: 2px;
        font-weight: bold;
        color: white;
        position: relative;
        bottom: 2px;
        float: right; }
    .experience .experience-content .job-container .job-title {
      font-size: 14px;
      color: #40dde0; }
    .experience .experience-content .job-container .job-description {
      font-size: 12px; }
      .experience .experience-content .job-container .job-description ul {
        padding-left: 20px; }
